@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
  }
  .container{
    @apply max-w-[120rem] px-[0rem]
  }
  .text-stroke{
    -webkit-text-stroke: 5px #ffffff;
    text-stroke: 4px #ffffff;
  }

  .banner .tns-outer{
    @apply flex items-center max-w-[30rem] mx-auto left-0 right-0 lg:max-w-[100rem]
  }
  /* #tns-ovh{
    @apply w-[70rem] mx-auto
  } */

@layer components {
  header{
    @apply bg-light lg:bg-darkblue
  }
  .header-nav-top{
    @apply hidden lg:block lg:relative lg:bg-primary lg:text-light lg:py-[1rem]
  }
  .header-nav-top-content{
    @apply flex justify-between mx-[15rem]
  }
  .header-nav-top-content p a i{
    @apply mr-[1rem] 
  }
  .header-nav-top p{
    @apply font-medium
  }
  .header-nav-top a{
    @apply ms-[1rem]
  }
  .header-socials ul{
    @apply flex gap-[1rem] 
  } 
  .header-socials ul li a {
    @apply hover:text-dark
  } 
  .log-in a:first-child{
    @apply pe-[1rem] border-r-2 border-light 
  }


 /* Header - Mobile */
  /* .mobile-branding{
    @apply flex justify-center my-[1rem]
  }

  .header-nav-mobile-menu{
    @apply flex justify-between bg-primary py-[1rem] px-[1rem]
  }
  .header-nav-mobile-menu h4{
    @apply text-light font-bold text-[1.2rem]
  } */

  /* Header - Nav - Mobile - Content*/

  /* .first-drop h4{
    @apply flex justify-between items-center px-[1rem] py-[1rem] border-b 
  }
  .first-drop h4 span{
    @apply font-bold text-[.8rem]
  }
  .second-drop li{
    @apply border-b py-[.6rem] 
  }
  .second-drop li a{
    @apply ml-[2rem] text-[.8rem] 
  }
  .second-drop h4 span{
    @apply font-normal text-red-400 pl-[1rem]
  }
  .third-drop li a{
    @apply ml-[3rem]
  } */
  /*HEADER*/
.header{
    @apply z-50 lg:mt-0 lg:fixed lg:w-full lg:bg-transparent;
}
.header .header__wrapper{
    @apply lg:flex lg:items-center lg:mt-[2rem] lg:justify-between lg:bg-bgblue lg:max-w-[75rem] lg:mx-auto lg:rounded-md
}
.header .branding{
    @apply bg-light p-[1.5rem] lg:bg-transparent;
}
.header .branding img{
    @apply mx-auto
}
.header__nav__title{
    @apply bg-primary p-[1rem] flex justify-between items-center lg:bg-transparent lg:hidden
}
.header__nav__title h2{
    @apply text-light font-bold text-[1.3rem]
}
.header__nav__title .toggle__menu span{
    @apply w-[1.5rem] h-[.2rem] bg-light block transition-all
}
.header__nav__title .toggle__menu.open span:first-child{
    @apply transform translate-y-[6px] rotate-[225deg] transition-all
}
.header__nav__title .toggle__menu.open span:nth-child(2){
    @apply opacity-0 transition-all
}
.header__nav__title .toggle__menu.open span:last-child{
    @apply transform translate-y-[-6px] rotate-[-225deg] transition-all
}
.header__nav__title .toggle__menu span:nth-child(2){
    @apply my-[.2rem]
}
.header__nav nav{
    @apply max-h-0 overflow-hidden transition-all lg:max-h-[200rem] lg:flex lg:items-center lg:p-[1.5rem];
}
.header__nav nav.open{
    @apply max-h-[200rem] transition-all
}
.header__nav nav li{
    @apply list-none
}
.header__nav .drop__nav h4{
    @apply flex items-center justify-between border-b-[1px] border-gray-400 px-[1.5rem] py-[.8rem] lg:border-none
    lg:gap-[.5rem]
}
.header__nav .drop__nav h4 p{
    @apply font-bold text-[1rem] lg:text-light lg:font-normal
}
.header__nav .drop__nav .drop__toggle span{
    @apply w-[.8rem] h-[.2rem] bg-dark block transition-all lg:bg-light lg:h-[.1rem] lg:w-[.5rem];
}
.header__nav .drop__nav .drop__toggle span:first-child{
    @apply lg:transform lg:rotate-[-45deg] lg:translate-x-[5px] lg:translate-y-[.15rem];
}
.header__nav .drop__nav .drop__toggle span:last-child{
    @apply transform rotate-[270deg] translate-y-[-.15rem] lg:rotate-[45deg] lg:translate-y-0;
}

.header__nav .drop__nav .drop__toggle.open span:last-child{
    @apply transform rotate-[0deg] transition-all
}
.header__nav .drop__content{
    @apply max-h-0 overflow-hidden transition-all lg:max-h-[20rem] lg:absolute lg:bottom-[-25rem] lg:bg-primary lg:min-w-[10rem] lg:opacity-0 lg:py-[1rem];
}
.header__nav .drop__content.open{
    @apply max-h-[200rem] transition-all;
}
.header__nav .drop__content ul li:not(first-child){
    @apply border-b-[1px] border-gray-400 lg:border-none;
}
.header__nav .drop__content ul li{
    @apply py-[1rem] lg:p-[1rem]
}
.header__nav .drop__content ul li a{
    @apply px-[3rem] text-[.8rem] lg:px-0 lg:text-light lg:text-[1.2rem]
}
.header__nav .drop__content ul li:hover{
    @apply lg:bg-light
}
.header__nav .drop__content ul li:hover a{
    @apply lg:text-primary
}
.header__nav nav a.free{
    @apply hidden lg:block 
}







  .btn-primary{
    @apply bg-primary hover:bg-dark py-[.8rem] px-[2rem] rounded-md transition-all ease-in-out duration-500
  }
  .btn-primary a{
    @apply text-light text-[1.1rem] font-medium lg:w-[7rem]
  }
  .btn-trans{
    @apply bg-transparent hover:bg-primary py-[.8rem] px-[2rem] rounded-md border border-primary transition-all ease-in-out duration-500
  }
  .btn-trans-black{
    @apply bg-transparent text-black hover:bg-primary hover:text-light py-[.8rem] px-[2rem] rounded-md border border-dark transition-all ease-in-out duration-500
  }
  .btn-trans a{
    @apply text-primary text-[1.1rem] font-medium hover:text-light
  }
  .btn-trans:hover a {
    @apply text-light
  }
  .banner{
    @apply lg:h-[100vh] lg:overflow-hidden relative bg-bannerBg bg-cover w-[100%] bg-no-repeat min-h-[42rem] lg:max-h-[65rem] py-[5rem] lg:px-[6rem]
  }
  .banner-text {
    @apply absolute lg:text-left lg:relative lg:mx-[15rem] lg:w-[50rem] z-10 top-[35%] lg:top-[20%] mx-[2rem] text-light text-center items-center lg:ml-[3rem] 
  }
  .banner-img{
    @apply hidden lg:block 
  }
  .banner-img img{
    @apply w-[100%] bg-no-repeat
  }

  .banner-text h1{
    @apply text-[1.5rem] font-extrabold lg:text-[3.5rem]
  }
  .banner-text h3{
    @apply text-[1.3rem] mt-[2rem] lg:text-[1.2rem] lg:w-[40rem]
  }
  .banner-btn{
    @apply flex mt-[3rem] gap-[.2rem] lg:gap-[1rem] justify-center lg:justify-start
  }
  .banner-wrapper span{
    @apply absolute top-[30%] text-light text-[4rem] font-black opacity-5 text-opacity-0
    lg:left-[14.7rem] lg:top-[21%] lg:text-[8rem]
  } 
  /* .banner-wrapper h6 span{
    @apply absolute top-[30%] text-darkblue text-[4rem] font-thin opacity-100 z-10 
    lg:left-[14.7rem] lg:top-[38%] lg:text-[8rem]
  } */
  .banner-slider-content{
    @apply lg:h-[100vh] lg:grid lg:grid-cols-2 lg:mx-[6rem] lg:gap-[2rem]
  }
  .slider{
    @apply px-[6rem]
  }
  .slider-card{
    @apply py-[7rem]
  }
  .slider-card-holder{
    @apply grid gap-[2rem] justify-center lg:flex lg:mt-[-15rem] lg:justify-center lg:px-[20rem] 
  }
  .slider-card-list{
    @apply relative bg-light border-2 border-primary border-opacity-50	 rounded-xl py-[4rem] w-[25rem]  block justify-center text-center hover:shadow-2xl transition-all duration-500 ease-in-out
  }
  .slider-card-list img{
    @apply flex justify-center mx-auto items-center
  }
  .slider-card-list h3 {
    @apply text-[1.5rem] font-bold my-[1rem]
  }
  .slider-card-list h2 {
    @apply text-primary text-[1rem] font-medium
  }

  .about{
    @apply lg:px-[6rem] lg:flex lg:justify-center
  }
  .about-img{
    @apply  lg:h-[35rem] py-[5rem] lg:py-0 flex justify-center lg:mr-[5rem]
  }
  .about-wrapper{
    @apply lg:grid lg:grid-cols-2
  }
  .about-text{
    @apply px-[1rem] lg:relative
  }

  .about-text h1{
    @apply text-[1.5rem] lg:text-[1.2rem] font-extrabold text-primary
  }
  .about-text h2{
    @apply text-[1.5rem] lg:text-[2.5rem] lg:w-[35rem] mb-[2rem] font-bold
  }
  .about-text h6{
    @apply pb-[2rem] ps-[1rem] max-w-[34rem] lg:max-w-[35rem] text-[1.4rem] text-gray-400 border-l-[3px] border-primary
  }
  .about-text p{
    @apply text-[1.2rem] mt-[1rem] lg:w-[35rem] text-gray-500
  }
  .about-text h3{
    @apply pt-[2rem] text-[1.5rem] font-bold
  }
  .success-bar{
    @apply lg:absolute lg:left-[1rem] my-[1rem] lg:mt-[1rem] lg:mb-[2rem] flex text-start
  }
  .success-bar-circle{
      @apply h-[3px] w-[90px] bg-primary my-0 mx-auto relative rounded-[30px]
  }
  .success-bar-circle::before{
      @apply content-[""] absolute left-0 top-[50%] transform translate-y-[-50%] border-primary border-[6px] rounded-[50%] bg-[#1c1b1b] animate-sliding1
  }
  .success-bar-circle::after{
      @apply content-[""] absolute right-0 top-[50%] transform translate-y-[-50%] border-primary border-[6px] rounded-[50%] bg-[#1c1b1b] animate-sliding2
  }
  .about-slider-holder{
    @apply flex gap-[5rem] lg:mt-[3rem]
  }

  .lesson{
    @apply my-[7rem] bg-lessonBg lg:px-[5rem] flex justify-center
  }
  .lesson-wrapper h1{
    @apply mx-[1rem] flex justify-center text-[1.5rem] lg:text-[1.2rem] text-primary font-extrabold
  }
  .lesson-wrapper h2{
    @apply  flex justify-center mx-auto text-[1.7rem] lg:text-[2.5rem] mb-[2rem] font-bold text-center w-[25rem] lg:w-[35rem] lg:py-[1rem]
  }
  .lesson-card{
    @apply lg:w-[30rem] relative mx-[1rem] my-[2rem] shadow-2xl rounded-lg
  }
  .lesson-card-holder{
    @apply lg:grid lg:grid-cols-3 lg:pb-[3rem] lg:mx-[5rem]
  }
  .lesson-img p{
    @apply  mx-[1rem] text-[1.2rem] absolute top-[1rem] right-0
  }
  .lesson-img span{
    @apply absolute top-[1rem] left-[1rem] p-[.5rem] bg-primary text-light rounded-lg
  }
  .lesson-img i{
    @apply text-primary p-[.5rem] rounded-lg bg-light text-[1.5rem]
  }
  .lesson-ratings{
    @apply flex py-[1rem]
  }
  .lesson-ratings p{
    @apply ml-[1rem]
  }
  .lesson-ratings p span{
    @apply italic
  }
  .lesson-ratings ul{
    @apply flex text-primary gap-[.5rem]
  }
  .lesson-details{
    @apply mx-[1rem]
  }
  .lesson-details h3{
    @apply text-[1.2rem] font-bold pb-[1rem]
  }
  .author{
    @apply flex mb-[2rem] 
  }
  .author p{
    @apply ml-[1rem] text-[1.2rem] 
  }
  .author p a{
    @apply text-bgblue
  }
  .author img{
    @apply rounded-full h-[2rem]
  }
  .lesson-price{
    @apply border-t py-[1rem]
  }
  .lesson-price h6{
    @apply font-bold flex justify-between text-[1rem] text-bgblue
  }
  .lesson-price p{
    @apply text-black
  }
  .instructor{
    @apply lg:px-[11rem] py-[5rem] flex justify-center
  }
  .instructor-wrapper{
    @apply px-[1rem]
  }
  .instructor-wrapper h1{
    @apply  flex text-[2rem] lg:text-[1.2rem] text-primary font-extrabold
  }
  .instructor-wrapper h2{
    @apply mt-[1rem] text-[1.5rem] lg:text-[2.5rem] font-bold w-[20rem] lg:w-[30rem] lg:mb-[2rem]
  }
  .instructor-card-holder{
    @apply lg:grid lg:grid-cols-3 lg:gap-[2rem]
  }
  .instructor-details h2{
    @apply flex justify-center mx-auto
  }
  .instructor-details h3{
    @apply flex justify-center text-[1.2rem] text-gray-600 pb-[1rem] border-b
  }
  .instructor-card-list{
    @apply relative py-[2rem] mb-[2rem] shadow-2xl rounded-lg border border-primary border-opacity-50 hover:border-none lg:w-[30rem]
  }
  .instructor-img{
    @apply flex justify-center rounded-full
  }
  .instructor-socials{
    @apply flex justify-center
  }
  .instructor-socials ul{
    @apply flex gap-[1rem] pt-[1rem]
  }
  .instructor-socials ul li{
    @apply px-[1rem] py-[.5rem] bg-bggreen rounded-xl text-primary text-[1.2rem]
  }
  .facility{
    @apply px-[1rem] py-[2rem] lg:py-[5rem] flex justify-center
  }

  .facility-wrapper h1{
    @apply flex justify-center text-[1.5rem] lg:text-[1.2rem] text-primary font-extrabold
  }
  .facility-wrapper h2{
    @apply flex justify-center text-center mx-auto mb-[2rem] text-[1.5rem] lg:text-[2.5rem] font-bold lg:w-[38rem]
  }
  .facility-card-holder{
    @apply lg:grid lg:grid-cols-4 lg:gap-[1rem] lg:justify-center lg:px-[10rem]
  }
  .facility-card{
    @apply border border-primary hover:border-none py-[3rem] mb-[2rem]  lg:w-[20rem]
  }
  .facility-card img{
    @apply  mx-auto
  }
  .facility-card h3{
    @apply flex justify-center text-[1.4rem] font-semibold py-[1rem]
  }
  .facility-card h6{
    @apply flex justify-center text-gray-500
  }

  .news{
    @apply mx-[1rem] lg:px-[10rem] lg:py-[5rem] flex justify-center
  }
  .news-wrapper h4{
    @apply text-[1.7rem] lg:text-[1.2rem] font-bold text-primary
  }
  .news-wrapper h3{
    @apply text-[1.5rem] lg:text-[2.5rem] font-semibold w-[28rem] mb-[1rem] lg:w-[45rem]
  }
  .news-holder{
    @apply lg:mt-[3rem] lg:grid lg:grid-cols-3 lg:gap-[2rem]
  }
  .news-details h5{
    @apply px-[1rem] text-[1.2rem] font-semibold py-[1rem]
  }
  .news-category{
    @apply px-[1rem] text-primary mb-[2rem] flex align-middle gap-[2rem]
  }
  .news-img{
    @apply flex max-w-[40rem] lg:max-w-[41rem] h-[28.1rem] lg:h-[31rem]
  }
  .news-list{
    @apply relative shadow-2xl py-[2rem] lg:shadow-xl
  }
  .btn-trans-black{
    @apply w-[10rem] ml-[1rem]
  }

  .testimonial{
    @apply flex justify-center py-[7rem] mx-[1rem] lg:mx-[10rem] bg-bggreenlight
  }
  .testimonial-wrapper{
    @apply lg:flex
  }
  .testimonial-img{
    @apply flex justify-center w-[28rem] mx-auto
  }
  .testimonial-holder h1{
    @apply flex justify-center mt-[2rem] text-[1.5rem] lg:text-[1.2rem] text-primary font-extrabold
  }
  .testimonial-holder h2{
    @apply flex text-center mb-[1rem] justify-center text-[1.5rem] lg:text-[2.5rem] font-extrabold lg:w-[40rem]
  }
  .testimonial-ratings ul{
    @apply flex mt-[2rem] mb-[1rem] text-[1.2rem] gap-[.5rem] text-primary
  }
  .testimonial-list p{
    @apply text-[1.2rem] text-gray-500 w-[28rem]
  }
  .testimonial-person{
    @apply flex mt-[1rem]
  }
  .testimonial-person-img img{
    @apply w-[4rem] h-[4rem]
  }
  .testimonial-name{
    @apply items-center ml-[1rem] align-middle
  }
  .testimonial-name h5{
    @apply font-bold
  }
  .testimonial-name h6{
    @apply text-primary font-semibold
  }

  .announcement{
    @apply bg-bggreenlight py-[1rem] mb-[10rem] mx-[1rem]
  }
  .announcement-wrapper h1{
    @apply flex justify-center mt-[2rem] text-[1.5rem] text-primary font-extrabold
  }
  .announcement-wrapper h2{
    @apply flex lg:mx-auto text-center mb-[1rem] lg:text-[2.5rem] justify-center text-[1.5rem]  font-extrabold w-[25rem] lg:w-[35rem]
  }
  .announcement-card-holder{
    @apply lg:flex lg:gap-[2rem] lg:justify-center
  }
  .announcement-card-list{
    @apply lg:flex border border-primary border-opacity-50 p-[2rem] mb-[5rem] shadow-xl
  }
  .announcement-details{
    @apply lg:ml-[2rem] lg:w-[22rem]
  }
  .announcement-details h6{
    @apply text-primary font-semibold mt-[1rem]
  }
  .announcement-details h3{
    @apply py-[1rem] text-[1.5rem] font-extrabold
  }
  .announcement-toggle{
    @apply bg-primary px-[.8rem] py-[.5rem] rounded-full w-fit text-light
  }
  .announcement-popup{
    @apply hidden
  }
  .newsletter{
    @apply relative lg:mx-auto bg-primary z-20 py-[5rem] px-[1rem] mx-[1rem] rounded-xl lg:w-[70rem]
  }
  .newsletter-wrapper{
    @apply lg:flex lg:justify-between lg:mx-[1rem]
  }
  .newsletter-calltoactions{
    @apply lg:flex lg:items-center
  }

  .newsletter input{
    @apply w-full lg:mx-[5rem] py-[1rem] my-[1rem] lg:my-0 rounded-lg
  }
  .newsletter input::placeholder{
    @apply ps-[1rem]
  }
  .newsletter-text h1{
    @apply text-[1.5rem] lg:text-[2.5rem] text-light font-extrabold
  }
  .newsletter-text h3{
    @apply text-[1.2rem] text-light py-[1rem]
  }
  .btn-black{
    @apply bg-secondary hover:bg-darkblue py-[1rem] lg:py-[1.3rem] lg:translate-x-[-5px] px-[2rem] lg:px-[5rem] rounded-md lg:rounded-l-none transition-all ease-in-out duration-500
  }
  .btn-black a{
    @apply text-light flex justify-center
  }




  /*-----------------------middle-footer----------------------*/
.footer-links {
  @apply flex justify-center bg-bgblue mt-[-8rem] lg:justify-evenly lg:px-[20rem]
}
.links-wrapper{
  @apply lg:pt-[10rem] border-b
}
.description img{
  @apply flex justify-center mx-auto pt-[15rem] pb-[2rem]
  lg:pt-[1.8rem]
}
.description{
  @apply lg:w-[12rem] 
}
.description p{
  @apply pb-[1rem] text-[1.2rem] 
}
.links-holder{
  @apply lg:flex lg:justify-center lg:gap-[5rem]
}
.links-row{
  @apply text-center lg:text-left text-white
  lg:flex lg:justify-between
}
.links-socials{
  @apply py-[1.5rem]
}
.links-socials i{
  @apply border-[1px] border-white p-[.5rem] rounded hover:bg-primary transition-all duration-500 ease-in-out
}
.links:first-child{
  @apply lg:mt-[2rem]
}
.links:last-child{
  @apply mt-[2rem]
}
.links h2{
  @apply text-[1.5rem] font-bold pb-[1.5rem]
}
.menu li a{
  @apply text-[1.2rem]
}
.menu li {
  @apply pb-[1rem] hover:text-primary transition-all
}
.working-hours{
  @apply mx-[1rem] pb-[5rem] lg:w-[20rem]
}
.working-hours h2{
  @apply text-[1.5rem] font-bold pt-[1.5rem] pb-[1rem]
  lg:pt-[2rem]
}
.wh-table{
  @apply flex py-[.5rem] justify-between text-[1.2rem] border-b 
}

.footer{
  @apply flex lg:block justify-center bg-bgblue py-[2rem] lg:px-[20rem]
}
.footer-wrapper{
    @apply  relative text-white lg:flex lg:justify-between
}
.copyright p{
    @apply flex justify-center pb-[1rem] pt-[1rem] text-[1rem]
}
.footer-text ul{
    @apply flex justify-center gap-[1rem] 
    
}
.footer-text li{
    @apply  hover:text-primary transition-all text-[1rem]
}
.row{
    @apply border-t-[1px]
lg:flex lg:justify-between lg:items-center
}


}






